@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
	font-family: 'Playfair Display', serif;
	background: #2c3e50;
}
nav{
	position: relative;
	margin: auto;
	width: 590px;
	height: 50px;
	background: #252627;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-size: 15px;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
	height: 100%;
	/* height: 5px; */
	top: 0;
	/* bottom: 0; */
	z-index: 0;
	background: #5b08c7;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0;
}
nav a:nth-child(2){
	width: 110px;
}
nav .about, a:nth-child(2):hover~.animation{
	width: 110px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav .socials, a:nth-child(3):hover~.animation{
	width: 100px;
	left: 210px;
}
nav a:nth-child(4){
	width: 160px;
}
nav .portfolio, a:nth-child(4):hover~.animation{
	width: 160px;
	left: 310px;
}
nav a:nth-child(5){
	width: 120px;
}
nav .contact, a:nth-child(5):hover~.animation{
	width: 120px;
	left: 470px;
}

body {
    background-color: #0f0f0f;
    font-family: 'Playfair Display', serif;
    color: white;
    overflow: auto;
}
.body1 {
    background-color: #0f0f0f;
    font-family: 'Playfair Display', serif;
    color: white;
    overflow: hidden;
}
.container {
    margin-top: 250px;
	margin-left: 50px;
    width: 100%;
    height: 100vh;
    color: #dfe8f5; 
    display: flex;
}
.auto-type {
    color: #5b08c7;
}
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: #1a1818;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
	position: center;
    width: 100%;
	height: 125%;
	margin-right: 8px;
    margin-bottom: 10px;
	border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #1a1818;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5b08c7;
}
.contactme {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #2e2d2d;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
